<header>
  <!-- 首頁nav-bar -->
  <nav
    class="navbar navbar-expand-lg navbar-white bg-white fs-md mx-0 mx-md-9 mx-lg-12 py-4 py-lg-5"
  >
    <div
      class="container-fluid d-flex justify-content-between align-items-center"
    >
      <!-- 首頁logo -->
      <a class="navbar-brand" href="index.html"
        ><img
          class="d-none d-lg-block"
          src="/assets/images/logo-desktop.svg"
          alt="logo-desktop"
        />
        <img
          class="d-lg-none"
          src="/assets/images/logo-mobile.svg"
          alt="logo-mobile"
        />
      </a>
      <!-- pc search-bar -->
      <form class="d-flex mx-auto d-none d-lg-block">
        <div class="input-group search-dropdown" id="textSearchWrapper">
          <!-- 下拉式搜尋 -->
          <button
            class="search-bar-btn dropdown-toggle d-flex align-items-center d-none d-lg-block"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            id="searchDropdownBtn"
          >
            全部
          </button>
          <ul class="dropdown-menu shadow-lg mt-2">
            <li>
              <a class="dropdown-item" href="#">字型</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">範本</a>
            </li>
            <li>
              <a class="dropdown-item" href="product-list.html">相片</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">主題</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">圖形</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">影片</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">音效</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">插畫</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">圖標</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">模板</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">筆刷</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">3D</a>
            </li>
          </ul>
          <span class="divider d-none d-lg-block"></span>
          <!-- 輸入關鍵字搜尋 -->
          <input
            class="form-control search-bar position-relative"
            type="search"
            placeholder="搜尋數百萬創意資源"
            aria-label="Search"
            id="headerSearchBar"
          />
          <!-- 搜尋推薦框 -->
          <div class="search-reco py-2 rounded-5 shadow-lg mt-2">
            <div class="d-flex flex-column gap-2 p-2">
              <h6 class="fs-md fw-bold py-1 px-2">熱門搜尋</h6>
              <ul class="list-unstyled d-flex flex-column gap-2">
                <li>
                  <a href="keyword-search.html"
                    ><img
                      class="me-2"
                      src="/assets/images/icon/icon-search-gray.svg"
                      alt="icon-search"
                    />貓</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><img
                      class="me-2"
                      src="/assets/images/icon/icon-search-gray.svg"
                      alt="icon-search"
                    />雪山日出</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><img
                      class="me-2"
                      src="/assets/images/icon/icon-search-gray.svg"
                      alt="icon-search"
                    />商業模板</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><img
                      class="me-2"
                      src="/assets/images/icon/icon-search-gray.svg"
                      alt="icon-search"
                    />抽象3D</a
                  >
                </li>
              </ul>
            </div>
            <div class="input-divider"></div>
            <div class="d-flex flex-column gap-2 p-2">
              <h6 class="fs-md fw-bold py-1 px-2">歷史搜尋</h6>
              <ul class="list-unstyled d-flex flex-column gap-2">
                <li>
                  <a href="#"
                    ><img
                      class="me-2"
                      src="/assets/images/icon/icon-history-gray.svg"
                      alt="icon-history"
                    />大衛</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><img
                      class="me-2"
                      src="/assets/images/icon/icon-history-gray.svg"
                      alt="icon-history"
                    />名片</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><img
                      class="me-2"
                      src="/assets/images/icon/icon-history-gray.svg"
                      alt="icon-history"
                    />背景</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><img
                      class="me-2"
                      src="/assets/images/icon/icon-history-gray.svg"
                      alt="icon-history"
                    />手寫風</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- 圖搜圖的圖示 -->
          <button
            class="search-bar-btn btn-image-search pe-6"
            type="button"
            id="toggleToImageSearchBtn"
          ></button>
        </div>
        <div
          class="input-group d-flex align-items-center d-none image-search"
          id="imageSearchWrapper"
        >
          <!-- 圖搜圖的圖示 -->
          <button
            class="search-bar-btn btn-image-search ps-3 pe-6"
            type="button"
            style="height: 24px"
            id="imageSearchBtn"
          ></button
          ><!-- 圖搜圖樣式 -->
          <input
            class="form-control d-none"
            type="file"
            accept="image/*"
            placeholder="上傳圖片搜尋"
            id="imageUpload"
          />
          <label
            for="imageUpload"
            class="me-auto py-2"
            style="width: calc(100% - 72px); cursor: pointer"
            ><span>上傳圖片搜尋</span></label
          >
          <button
            type="button"
            class="btn-close pe-1"
            id="closeImageSearchBtn"
            aria-label="Close"
            style="box-shadow: none"
          >
            <img
              width="24"
              height="24"
              src="/assets/images/icon/icon-close.svg"
              alt="close"
            />
          </button>
        </div>
      </form>
      <!-- login bar -->
      <ul class="list-unstyled mb-0 d-flex align-items-center gap-2">
        <!-- 未登入狀態default -->
        <div id="loggedOut">
          <div class="mb-0 d-flex align-items-center">
            <li class="nav-item me-2">
              <a
                class="nav-login-btn icon-primary-fill fs-sm fw-medium"
                href="#"
                role="button"
                id="loginBtn"
                >登入</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-login-btn icon-secondary-outline fs-sm fw-medium"
                href="#"
                role="button"
                >註冊</a
              >
            </li>
          </div>
        </div>
        <!-- 已登入狀態 點擊切換 -->
        <div id="loggedIn" style="display: none">
          <li class="nav-item">
            <a
              href="#"
              role="button"
              id="logoutBtn"
              class="avatar-container rounded-circle"
              ><img
                src="/assets/images/Homepage/Avatar-小明.png"
                alt="avatar"
                class="rounded-circle"
                width="36"
                height="36"
            /></a>
          </li>
        </div>
        <!-- 購物車icon 可切結帳視窗 -->
        <li class="nav-item">
          <!-- 結帳視窗 -->
          <!-- 連結結帳modal -->
          <button
            type="button"
            class="cart-btn cart-disabled d-none d-md-flex icon-S icon-secondary-outline position-relative header-cart-btn"
            data-bs-toggle="modal"
            data-bs-target="#headerPcCheckout"
          >
            <img src="/assets/images/icon/icon-cart-outline.svg" alt="cart" />
            <img
              src="/assets/images/icon/icon-cart-badge.svg"
              alt="cart-add"
              class="cart-badge-img"
            />
          </button>
          <!-- 電腦版結帳modal -->
          <div
            class="modal fade"
            id="headerPcCheckout"
            tabindex="-1"
            aria-labelledby="headerCheckoutLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog position-absolute">
              <div class="modal-content">
                <div class="d-flex">
                  <!-- 購物車商品 -->
                  <div class="card pe-none border-0 modal-item-card">
                    <!-- 卡片圖片區 -->
                    <div class="position-relative overflow-hidden rounded-4">
                      <!-- <div class="d-none d-sm-block tag-m tag-yellow"></div> -->
                      <div class="tag-yellow"></div>
                      <img
                        src="/assets/images/Homepage/card1.png"
                        class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                        alt="貓咪家庭"
                      />
                    </div>
                    <!-- 卡片描述區 -->
                    <div class="card-body">
                      <h5 class="card-title fs-md fs-md-lg fw-bold">
                        <a
                          href="./product-details.html"
                          class="stretched-link text-black"
                        >
                          貓咪家庭</a
                        >
                      </h5>
                      <div class="card-text d-flex justify-content-between">
                        <p>相片</p>
                        <p class="fs-md fs-md-lg text-notice">
                          <span class="fs-sm text-neutral-600"
                            ><del>120</del></span
                          >
                          $<span class="fs-md fs-md-lg fw-bold">100</span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- 結帳輸入 -->
                  <div
                    class="modal-body d-flex flex-column gap-4 modal-item-checkout"
                  >
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <h5
                        class="modal-title fs-lg fw-bold"
                        id="headerCheckoutLabel"
                      >
                        訪客快速結帳
                      </h5>
                      <h5
                        class="modal-title fs-lg fw-bold"
                        id="loggedInCheckoutLabel"
                        style="display: none"
                      >
                          做得好<span id="mobCustomerName"></span
                        >！距離完成購買只差一步！
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      >
                        <img
                          width="24"
                          height="24"
                          src="/assets/images/icon/icon-close.svg"
                          alt="close"
                        />
                      </button>
                    </div>
                    <!-- 填寫資料 -->
                    <form class="needs-validation" novalidate>
                      <div class="form-floating mb-4 has-validation">
                        <input
                          type="email"
                          class="form-control rounded-5"
                          id="floatingInput"
                          placeholder="請輸入Email"
                          required
                        />
                        <label for="floatingInput">請輸入Email</label>
                        <div class="invalid-feedback">請輸入有效電子信箱</div>
                      </div>

                      <div class="form-floating mb-0 w-100 has-validation">
                        <input
                          type="text"
                          class="form-control rounded-top-5"
                          id="cardholderInput"
                          placeholder="信用卡持有者"
                          required
                        />
                        <label for="cardholderInput">信用卡持有者</label>
                        <div class="invalid-feedback">必填</div>
                      </div>
                      <div
                        class="form-floating mb-0 position-relative has-validation"
                      >
                        <input
                          type="text"
                          class="form-control"
                          id="cardNumberInput"
                          placeholder="xxxx-xxxx-xxxx-xxxx"
                          maxlength="19"
                          inputmode="numeric"
                          required
                        /><span class="credit-card-icon-wrapper">
                          <img
                            src="/assets/images/icon/icon-credit-card-gray.svg"
                            alt="credit-card icon"
                          />
                        </span>
                        <label for="cardNumberInput">xxxx-xxxx-xxxx-xxxx</label>
                        <div class="invalid-feedback">必填</div>
                      </div>
                      <div class="d-flex">
                        <div
                          class="form-floating has-validation"
                          style="width: 50%"
                        >
                          <input
                            type="text"
                            class="form-control"
                            id="expiryDateInput"
                            placeholder="MM / YY"
                            maxlength="5"
                            inputmode="numeric"
                            required
                          />
                          <label for="expiryDateInput">MM / YY</label>
                          <div class="invalid-feedback">必填</div>
                        </div>
                        <div
                          class="form-floating has-validation"
                          style="width: 50%"
                        >
                          <input
                            type="text"
                            class="form-control"
                            id="cvvInput"
                            placeholder="CVV"
                            maxlength="3"
                            inputmode="numeric"
                            required
                          />
                          <label for="cvvInput">CVC</label>
                          <div class="invalid-feedback">必填</div>
                        </div>
                      </div>
                      <!-- 打勾驗證+送出區 -->
                      <div class="d-flex flex-column mt-4 py-4 gap-3">
                        <p class="mb-3 text-center w-100">
                          共計&nbsp;1&nbsp;項產品&nbsp;|&nbsp;付款總金額：$<span
                            class="fw-bold"
                            >&nbsp;100&nbsp;</span
                          >元
                        </p>
                        <div>
                          <div class="form-check mb-1 has-validation">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              value="agree"
                              id="agreePolicy"
                              required
                            />
                            <label class="form-check-label" for="agreePolicy">
                              我同意<a href="#" class="text-black"
                                ><u>服務條款</u></a
                              >和<a href="#" class="text-black"
                                ><u>隱私權政策</u></a
                              >。 *
                            </label>
                            <div class="invalid-feedback">
                              * 必須勾選同意條款
                            </div>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              value="send"
                              id="receivePromoMail"
                            />
                            <label
                              class="form-check-label"
                              for="receivePromoMail"
                            >
                              我希望接收電子郵件公告和優惠，(可以隨時取消訂閱)。
                            </label>
                          </div>
                        </div>
                        <button
                          type="submit"
                          id="goToCheckout"
                          class="join-btn w-100"
                          disabled
                        >
                          結帳
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 手機板結帳offcanvas -->
          <button
            type="button"
            class="cart-btn cart-disabled d-md-none icon-S icon-secondary-outline position-relative header-cart-btn"
            data-bs-toggle="offcanvas"
            data-bs-target="#headerMobCheckout"
            aria-controls="offcanvasBottom"
          >
            <img src="/assets/images/icon/icon-cart-outline.svg" alt="cart" />
            <img
              src="/assets/images/icon/icon-cart-badge.svg"
              alt="cart-add"
              class="cart-badge-img"
            />
          </button>
          <div
            class="d-md-none offcanvas offcanvas-bottom"
            tabindex="-1"
            style="height: 635px"
            id="headerMobCheckout"
            aria-labelledby="offcanvasBottomLabel"
          >
            <div class="offcanvas-body small">
              <div class="flex-column justify-content-start p-0">
                <button
                  type="button"
                  class="btn-close mb-3"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                ></button>
                <h5
                  class="fs-lg fw-bold me-auto mb-3"
                  id="mobGuestCheckoutLabel"
                >
                  訪客快速結帳
                </h5>
                <h5
                  class="fs-lg fw-bold me-auto mb-3"
                  id="mobLoggedInCheckoutLabel"
                  style="display: none"
                >
                  做得好<span id="mobCustomerName"></span
                  >！距離完成購買只差一步！
                </h5>
              </div>
              <div class="d-flex gap-3 mb-5">
                <img
                  class="card-img-top rounded-5"
                  src="/assets/images/Homepage/card1.png"
                  alt="貓咪家庭"
                  style="width: 50%"
                />
                <div
                  class="offcanvas-card-text d-flex flex-column justify-content-between"
                  style="width: 50%"
                >
                  <div class="card-text">
                    <h6 class="fs-lg fw-bold">貓咪家庭</h6>
                    <p>
                      四隻可愛貓咪同框寫真，高畫質室內場景，適用於插畫、社群貼文、寵物相關設計與居家風格素材應用。
                    </p>
                  </div>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <p>
                      <del>120</del>
                      $<span class="fw-bold">100</span>
                    </p>
                    <a href="#" role="button">
                      <img
                        src="/assets/images/icon/icon-bin.svg"
                        alt="bin icon"
                      />
                    </a>
                  </div>
                </div>
              </div>
              <!-- 填寫資料 -->
              <form class="needs-validation" novalidate>
                <div class="form-floating mb-4 has-validation">
                  <input
                    type="email"
                    class="form-control rounded-5"
                    id="mobFloatingInput"
                    placeholder="請輸入Email"
                    required
                  />
                  <label for="mobFloatingInput">請輸入Email</label>
                  <div class="invalid-feedback">請輸入有效電子信箱</div>
                </div>

                <div class="form-floating mb-0 w-100 has-validation">
                  <input
                    type="text"
                    class="form-control rounded-top-5"
                    id="mobCardholderInput"
                    placeholder="信用卡持有者"
                    required
                  />
                  <label for="mobCardholderInput">信用卡持有者</label>
                  <div class="invalid-feedback">必填</div>
                </div>
                <div
                  class="form-floating mb-0 position-relative has-validation"
                >
                  <input
                    type="text"
                    class="form-control"
                    id="mobCardNumberInput"
                    placeholder="xxxx-xxxx-xxxx-xxxx"
                    maxlength="19"
                    inputmode="numeric"
                    required
                  /><span class="credit-card-icon-wrapper">
                    <img
                      src="/assets/images/icon/icon-credit-card-gray.svg"
                      alt="credit-card icon"
                    />
                  </span>
                  <label for="mobCardNumberInput">xxxx-xxxx-xxxx-xxxx</label>
                  <div class="invalid-feedback">必填</div>
                </div>
                <div class="d-flex">
                  <div class="form-floating has-validation" style="width: 50%">
                    <input
                      type="text"
                      class="form-control"
                      id="mobExpiryDateInput"
                      placeholder="MM / YY"
                      maxlength="5"
                      inputmode="numeric"
                      required
                    />
                    <label for="mobExpiryDateInput">MM / YY</label>
                    <div class="invalid-feedback">必填</div>
                  </div>
                  <div class="form-floating has-validation" style="width: 50%">
                    <input
                      type="text"
                      class="form-control"
                      id="mobCvvInput"
                      placeholder="CVV"
                      maxlength="3"
                      inputmode="numeric"
                      required
                    />
                    <label for="mobCvvInput">CVC</label>
                    <div class="invalid-feedback">必填</div>
                  </div>
                </div>
                <!-- 打勾驗證+送出區 -->
                <div class="d-flex flex-column mt-4 py-4 gap-3">
                  <p class="mb-3 text-center text-black w-100">
                    共計&nbsp;1&nbsp;項產品&nbsp;|&nbsp;付款總金額：$<span
                      class="fw-bold"
                      >&nbsp;100&nbsp;</span
                    >元
                  </p>
                  <div>
                    <div class="form-check mb-1 has-validation">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value="agree"
                        id="mobAgreePolicy"
                        required
                      />
                      <label class="form-check-label" for="mobAgreePolicy">
                        我同意<a href="#" class="text-black"><u>服務條款</u></a
                        >和<a href="#" class="text-black"><u>隱私權政策</u></a
                        >。 *
                      </label>
                      <div class="invalid-feedback">* 必須勾選同意條款</div>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value="send"
                        id="mobReceivePromoMail"
                      />
                      <label class="form-check-label" for="mobReceivePromoMail">
                        我希望接收電子郵件公告和優惠，(可以隨時取消訂閱)。
                      </label>
                    </div>
                  </div>
                  <button
                    type="submit"
                    id="goToCheckout"
                    class="join-btn w-100"
                    disabled
                  >
                    結帳
                  </button>
                </div>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div
    class="navbar navbar-expand-lg navbar-white bg-white fs-md d-flex justify-content-between mx-0 mx-md-9 mx-lg-0 px-4 px-lg-0 py-0"
  >
    <!-- mobile search-bar -->
    <form class="d-lg-none d-flex mb-4">
      <div class="input-group search-dropdown" id="mobileTextSearchWrapper">
        <!-- 輸入關鍵字搜尋 -->
        <input
          class="form-control search-bar"
          type="search"
          placeholder="搜尋數百萬創意資源"
          aria-label="Search"
          id="mobileHeaderSearchBar"
        />
        <div class="search-mob-reco py-2 rounded-5 shadow-lg mt-2">
          <div class="d-flex flex-column gap-2 p-2">
            <h6 class="fs-md fw-bold py-1 px-2">熱門搜尋</h6>
            <ul class="list-unstyled d-flex flex-column gap-2">
              <li>
                <a href="keyword-search.html"
                  ><img
                    class="me-2"
                    src="/assets/images/icon/icon-search-gray.svg"
                    alt="icon-search"
                  />貓</a
                >
              </li>
              <li>
                <a href="#"
                  ><img
                    class="me-2"
                    src="/assets/images/icon/icon-search-gray.svg"
                    alt="icon-search"
                  />雪山日出</a
                >
              </li>
              <li>
                <a href="#"
                  ><img
                    class="me-2"
                    src="/assets/images/icon/icon-search-gray.svg"
                    alt="icon-search"
                  />商業模板</a
                >
              </li>
              <li>
                <a href="#"
                  ><img
                    class="me-2"
                    src="/assets/images/icon/icon-search-gray.svg"
                    alt="icon-search"
                  />抽象3D</a
                >
              </li>
            </ul>
          </div>
          <div class="input-divider"></div>
          <div class="d-flex flex-column gap-2 p-2">
            <h6 class="fs-md fw-bold py-1 px-2">歷史搜尋</h6>
            <ul class="list-unstyled d-flex flex-column gap-2">
              <li>
                <a href="#"
                  ><img
                    class="me-2"
                    src="/assets/images/icon/icon-history-gray.svg"
                    alt="icon-history"
                  />大衛</a
                >
              </li>
              <li>
                <a href="#"
                  ><img
                    class="me-2"
                    src="/assets/images/icon/icon-history-gray.svg"
                    alt="icon-history"
                  />名片</a
                >
              </li>
              <li>
                <a href="#"
                  ><img
                    class="me-2"
                    src="/assets/images/icon/icon-history-gray.svg"
                    alt="icon-history"
                  />背景</a
                >
              </li>
              <li>
                <a href="#"
                  ><img
                    class="me-2"
                    src="/assets/images/icon/icon-history-gray.svg"
                    alt="icon-history"
                  />手寫風</a
                >
              </li>
            </ul>
          </div>
        </div>
        <!-- 圖搜圖的圖示 -->
        <button
          class="search-bar-btn btn-image-search pe-6"
          type="button"
          id="mobileToggleToImageSearchBtn"
        ></button>
      </div>
      <div
        class="input-group d-flex align-items-center d-none image-search"
        id="mobileImageSearchWrapper"
      >
        <!-- 圖搜圖的圖示 -->
        <button
          class="search-bar-btn btn-image-search ps-3 pe-6"
          type="button"
          style="height: 24px"
          id="mobileImageSearchBtn"
        ></button>
        <!-- 圖搜圖樣式 -->
        <input
          class="form-control d-none"
          type="file"
          accept="image/*"
          placeholder="上傳圖片搜尋"
          id="mobileImageUpload"
        />
        <label
          for="mobileImageUpload"
          class="me-auto py-6p"
          style="width: calc(100% - 72px); cursor: pointer"
        >
          <span>上傳圖片搜尋</span>
        </label>
        <button
          type="button"
          class="btn-close pe-1"
          id="mobileCloseImageSearchBtn"
          aria-label="Close"
          style="box-shadow: none"
        >
          <img
            width="24"
            height="24"
            src="/assets/images/icon/icon-close.svg"
            alt="close"
          />
        </button>
      </div>
    </form>

    <!-- 分類區 -->
    <!-- PC版按鈕 整個隱藏 -->
    <button
      class="navbar-toggler border-none d-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <img src="/assets/images/icon/icon-Category.svg" alt="icon-Category" />
    </button>
    <!-- PC內容 -->
    <%- include('./layout/pcDropdown.ejs'); -%>
    <!-- 手機板按鈕 -->
    <button
      class="navbar-toggler border-none d-lg-none mb-4"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#mainMenu"
      aria-controls="mainMenu"
      aria-label="Toggle navigation"
    >
      <img src="/assets/images/icon/icon-Category.svg" alt="icon-Category" />
    </button>
    <!-- 手機版內容 -->
    <div
      class="offcanvas offcanvas-end offcanvas-full d-lg-none offcanvas-mainmenu"
      tabindex="-1"
      id="mainMenu"
      aria-labelledby="mainMenuLabel"
    >
      <div class="offcanvas-header shadow">
        <h5 class="offcanvas-title" id="mainMenuLabel">
          <img src="/assets/images/logo-mobile.svg" alt="logo-mobile.svg" />
        </h5>
        <button
          type="button"
          class="btn-close icon-secondary-outline icon-S"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          <img
            src="/assets/images/icon/icon-close-primary.svg"
            alt="btn-close"
          />
        </button>
      </div>
      <div class="offcanvas-body">
        <ul class="list-unstyled p-4 d-flex flex-column gap-4">
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="字型"
              data-category="字型類型"
            >
              <p>字型</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="範本"
              data-category="範本類型"
            >
              <p>範本</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="相片"
              data-category="相片類型"
            >
              <p>相片</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="主題"
              data-category="主題類型"
            >
              <p>主題</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="圖形"
              data-category="圖形類型"
            >
              <p>圖形</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="影片"
              data-category="影片類型"
            >
              <p>影片</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="音效"
              data-category="音效類型"
            >
              <p>音效</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="插畫"
              data-category="插畫類型"
            >
              <p>插畫</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="圖標"
              data-category="圖標類型"
            >
              <p>圖標</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="模板"
              data-category="模板類型"
            >
              <p>模板</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="筆刷"
              data-category="筆刷類型"
            >
              <p>筆刷</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
          <li>
            <a
              class="text-black d-flex justify-content-between align-items-center mb-4 pe-auto"
              data-bs-toggle="offcanvas"
              data-bs-target="#sharedSubMenu"
              data-title="3D"
              data-category="3D類型"
            >
              <p>3D</p>
              <img
                src="/assets/images/icon/icon-right.svg"
                alt="rigth-chevron"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="offcanvas offcanvas-end offcanvas-full d-lg-none offcanvas-submenu"
      tabindex="-1"
      id="sharedSubMenu"
      aria-labelledby="sharedSubMenuLabel"
    >
      <div
        class="offcanvas-header d-flex justify-content-between align-items-center shadow"
      >
        <button
          type="button"
          class="btn btn-link text-decoration-none py-1 px-2"
          data-bs-toggle="offcanvas"
          data-bs-target="#mainMenu"
        >
          <img src="/assets/images/icon/icon-left.svg" alt="left-chevron" />
        </button>
        <h5 class="offcanvas-title" id="sharedSubMenuLabel"></h5>
        <button
          type="button"
          class="btn-close icon-secondary-outline icon-S"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          <img
            src="/assets/images/icon/icon-close-primary.svg"
            alt="btn-close"
          />
        </button>
      </div>
      <div class="offcanvas-body">
        <a
          class="btn btn-pr-outline d-block text-primary m-4"
          href="./product-list.html"
          role="button"
          ><span class="fs-md fw-medium letter-spacing-sm">查看全部</span></a
        >
        <ul class="list-unstyled">
          <li class="d-flex flex-column">
            <ul class="list-unstyled list-group d-flex flex-column gap-3">
              <li>
                <h3
                  class="fs-lg fw-bold list-group-item"
                  id="categoryTitle"
                ></h3>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>動物</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>風景</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>產品</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>3D</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>簽名</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>文字</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
            </ul>
            <div class="offcanvas-divider"></div>
          </li>
          <li class="d-flex flex-column">
            <ul class="list-unstyled list-group d-flex flex-column gap-3">
              <li><h3 class="fs-lg fw-bold list-group-item">風格</h3></li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>現代</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>復古</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>華麗</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
            </ul>
            <div class="offcanvas-divider"></div>
          </li>
          <li class="d-flex flex-column">
            <ul class="list-unstyled list-group d-flex flex-column gap-3">
              <li><h3 class="fs-lg fw-bold list-group-item">用途</h3></li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>海報</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>影音</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>傳單</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
              <li>
                <a class="list-group-item" href="#"
                  ><p>社群貼文</p>
                  <img
                    src="/assets/images/icon/icon-right.svg"
                    alt="rigth-chevron"
                /></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
