.btn-bg-transparent {
  background-color: $primary-50;
}

.border-radius-999 {
  border-radius: 999px;
}

.pe--1 {
  padding-right: 1px;
}

.keyword-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  @include size-sm {
    margin-bottom: 12px;
  }
  @media (max-width: 576px) {
    width: 72px;
    height: 36px;
    padding: 8px;
    @include size-sm {
      margin-right: 12px;
    }
  }
}
.btn-w-120 {
  width: 120px;
  @media (max-width: 576px) {
    width: 100px;
  }
}

.card-ex {
  aspect-ratio: 220 / 215;
  overflow: hidden;
  border-radius: 12px;
}

.oveflow-x-auto--sm {
  @include size-sm {
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
  }
}
.myVSwiper .card {
  --bs-card-border-width: 0;
}

.play-btn {
  position: absolute;
  right: 7px;
  bottom: 7px;
  z-index: 100;
  transform-origin: 100% 100%;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.card:hover {
  .play-btn,
  .play-a-btn {
    transform: scale(1.2);
  }
}

.myASwiper .card {
  --bs-card-border-width: 0;
  img {
    height: 158px;
  }
}

.myCSwiper .card {
  --bs-card-border-width: 0;
  img {
    height: 215px;
    @media (max-width: 576px) {
      height: 138px;
    }
  }
}

img.play-a-btn {
  width: 40px !important;
  height: 40px !important;
}
.play-a-btn {
  position: absolute;
  right: 8px;
  bottom: 8px;
  z-index: 100;
  transform-origin: 100% 100%;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.k-icon-size {
  width: 40px;
  height: 40px;
  @media (max-width: 576px) {
    width: 32px;
    height: 32px;
  }
}
