.order-complete-pages {
  .container-content {
    max-width: 846px;
    margin: 0 auto;
  }
  .py-37px {
    padding-top: 37px;
    padding-bottom: 37px;
  }
  .w-160px {
    width: 160px;
  }
  .w-300px {
    width: 300px;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
  .order-bg {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .order-light{
    position: absolute;
    top: 65px;
    left: 10px;
  }
  .btn.btn-pr:hover {
    color: $white;
  }
  .btn.btn-pr:disabled {
    background-color: #ADADAD;
    color: $white;
  }
  .btn.btn-pr-outline:hover{
    color: $primary;
    border: 1px solid $primary;    
  }
  .form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #8c8c8c;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(140, 140, 140);
  }
}

@include size-lg {
  .order-complete-pages {
    .container-content {
      max-width: 846px;
      margin: 0 auto;
    }
    .w-lg-300px {
      width: 300px;
    }
    .order-bg-color {
      background-color: $secondary-100;
    }
    .w-lg-331px {
      width: 331px;
    }
  }
}

@include size-sm {
  .order-complete-pages {
    .w-sm-100 {
      width: 100%;
    }
  }
}
