.pd-list-container {
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
}

.pd-list-sidebar {
  @include size-sm {
    display: none;
  }
}

.pd-list-cardbox {
  @include size-sm {
  }
}

.product-list-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    /* 黑色 40% 疊層 */ url("/assets/images/產品列表頁/banner.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 278px;
  width: 100%;

  @include size-sm {
    height: 320px;

    button {
      margin-bottom: 12px;
    }
  }
}

.searchteag {
  @include size-sm {
    flex-wrap: wrap;
    display: flex;
  }
}

.pd-list-cardbox {
  @include size-sm {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-around;
    align-items: center;
  }
}

.pd-list-content {
  @include size-sm {
  }
}

.pl-banner-btn {
  color: $white;
  color: #fff;
  background: transparent;

  &:hover {
    box-shadow: 0 0 2px 2px $secondary-400;
  }

  &:focus {
    box-shadow: 0 0 2px 2px $white;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  img {
    color: $white;
    width: 20px;
    height: 20px;
  }
}

.pd-list-dropdown {
  padding-right: 0;
}

.pl-main {
  max-width: 1200px;
  margin: 0 auto;
}

/* 勾選後：隱藏左欄，右欄改滿版 */
.layout:has(#toggleFilter:checked) .sidebar {
  display: none;
}

.layout:has(#toggleFilter:checked) .content {
  grid-column: 1 / -1;
  /* 佔滿整列 */
}

/* 隱藏實體 checkbox */
#toggleFilter {
  position: absolute;
  left: -9999px;
}

#newestFilter {
  position: absolute;
  left: -9999px;
}

#vertical {
  position: absolute;
  left: -9999px;
}

#horizontal {
  position: absolute;
  left: -9999px;
}

#icon-square {
  position: absolute;
  left: -9999px;
}

.row-pd-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pd-list-sidebar {
  flex: 0 0 249px !important;
  /* 以 237px 為基準，且不允許縮 */
  width: 249px !important;

  min-width: 249px;
}

.pd-list-content {
  flex: 1 1 auto;
  /* 右側吃剩餘寬 */
  min-width: 0;
  /* 避免內容撐爆把左欄擠縮 */
}

.object-position-top {
  object-position: top;
}

.object-position-right {
  object-position: right;
}

.object-position-right-15 {
  object-position: right 15%;
}

.object-position-center-25 {
  object-position: center 25%;
}

.object-position-bottom {
  object-position: bottom;
}

.color-dot {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: var(--c);
  display: inline-block;
}

// banner
.pl_banner-spacing {
  padding-top: 80px;
  padding-bottom: 40px;
  width: 100%;
  height: 278px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/assets/images/產品列表頁/banner.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  @media (max-width: 768px) {
    height: 320px;
    padding-top: 96px;
    padding-bottom: 36px;
  }
}

.pl_tag-btn {
  @include icon-size($bdrs-sz: 9999px, $w-sz: 88px, $h-sz: 40px);
  font-size: 16px;
  font-weight: medium;
  color: white;
  background-color: transparent;
  border: 1px solid $neutral-300;
  position: relative;
  @include overlay-style($overlay-bgc: rgba(0, 0, 0, 0.1));
  overflow: hidden;
  @media (max-width: 768px) {
    @include icon-size(
      $py-sz: 4px,
      $px-sz: 8px,
      $bdrs-sz: 9999px,
      $w-sz: 72px,
      $h-sz: 36px
    );
    font-size: 14px;
    span {
      display: flex;
      align-items: center;
    }
  }
}

.pl_tag-btn-120 {
  width: 120px;
  @media (max-width: 768px) {
    width: 100px;
  }
}
.pd-list-container .dropdown-toggle::after {
  display: none;
}

.pd-list-container .dropdown-toggle {
  &::after {
    display: none;
  }
  padding-right: 32px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg class='icon-down' width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.65 8.24079C19.0693 8.60021 19.1178 9.23064 18.7584 9.64997L12.7584 16.65C12.5684 16.8716 12.2915 16.9996 11.9996 16.9996C11.7077 16.9996 11.4308 16.8716 11.2408 16.65L5.24079 9.64997C4.88137 9.23064 4.92986 8.60021 5.34919 8.24079C5.76851 7.88137 6.39895 7.92986 6.75837 8.34919L11.9996 14.4634L17.2408 8.34919C17.6002 7.92986 18.2306 7.88137 18.65 8.24079Z' fill='%23262626' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
  }

  &[aria-expanded="true"]::before {
    transform: translateY(-50%) rotate(180deg);
  }
}

.mt-7p {
  margin-top: 7px;
}
