.product-details-pages {
  a {
    color: inherit;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.4;
  }

  .p-2p {
    padding: 2px;
  }

  .w-28px {
    width: 28px;
  }
  .w-36px {
    width: 36px;
  }

  .btn-close {
    --bs-btn-close-opacity: 1;
  }
  .modal-dialog-try {
    max-width: 936px;
    width: 90%;
  }
  .modal-dialog-cart {
    max-width: 680px;
    width: 90%;
    position: absolute;
    top: 96px;
    right: 6rem;
    margin: 0;
    margin-right: 12px;
  }
  .w-85 {
    width: 87.5%;
  }
  .w-15 {
    width: 12.5%;
  }
  .h-195px {
    height: 195px;
  }
  .h-547px {
    height: 547px;
  }
  .list-style-none {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  .modal-dialog-right {
    margin-right: 15%;
    margin-left: auto;
    margin-top: 10%;
  }
  .fs-12px {
    font-size: 12px;
  }
  #floatingInput:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
  .invalid-feedback {
    margin-left: 8px;
    padding-bottom: 10px;
  }
  .btn.br:hover {
    color: $white;
  }
  // .btn:hover {
  //   color: $white;
  // }
  .card-img {
    width: 100%;
    height: 302px;
  }
  .object-position-top {
    object-position: top;
  }
  .object-position-right {
    object-position: right;
  }
  .object-position-right-15 {
    object-position: right 15%;
  }
  .object-position-center-25 {
    object-position: center 25%;
  }
  .object-position-bottom {
    object-position: bottom;
  }
  .btn.cut-btn-active {
    background-color: #dbdfee !important;
    position: relative;
  }
  .btn.cut-btn-active::before {
    content: "";
    position: absolute;
    top: 4px;
    right: 4px;
    width: 20px;
    height: 20px;
    background-image: url("/assets/images/icon/icon-close-pr.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .mySwiper {
    width: 100%;
    height: auto;
  }
  .offcanvas-header .btn-close {
    margin-left: 0 !important;
  }
  .top-rounded {
    border-radius: 16px 16px 0 0;
  }
  .offcanvas {
    --bs-offcanvas-height: 80vh;
  }
  .line-clamp-2 {
    display: -webkit-box; /* 建立彈性盒子模型 */
    -webkit-box-orient: vertical; /* 垂直排列 */
    -webkit-line-clamp: 2; /* 限制兩行 */
    overflow: hidden; /* 超出文字隱藏 */
    text-overflow: ellipsis; /* 文字截斷加省略號 */
  }
  form.btn.btn-br {
    &:disabled {
      border: 2px solid $primary-800 !important;
    }
  }
  .btn.btn-pr-outline {
    border: 1px solid $primary-600;
    color: $primary-600;
    &:focus {
      box-shadow: 0 0 2px 2px $primary-200;
    }
  }
  .btn.icon-primary-outline {
    border: 1px solid $primary-600;
    &:hover {
      color: $primary;
    }
    &:focus,
    &:active {
      box-shadow: 0px 0px 0px 2px #c7d1fe;
    }
  }
  .was-validated .form-check-input:valid ~ .form-check-label,
  .form-check-input.is-valid ~ .form-check-label {
    color: $black;
  }
  .was-validated .form-check-input:valid:checked,
  .form-check-input.is-valid:checked {
    background-color: $primary;
    border-color: $primary;
  }
  .was-validated .form-check-input:valid:focus,
  .form-check-input.is-valid:focus {
    box-shadow: none;
  }

  .was-validated .form-check-input:valid,
  .form-check-input.is-valid {
    border-color: #424242;
  }
  .form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #8c8c8c;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(140, 140, 140);
  }
  input.form-control {
    border: 1px solid #d9d9d9;
  }
  .form-control.checkput-credit-name {
    border-radius: 16px 16px 0 0 !important;
  }
  .form-control.checkput-credit-number {
    border-radius: 0 !important;
  }
  .form-control.checkput-credit-date {
    border-radius: 0 0 0 16px !important;
  }
  .form-control.checkput-credit-three {
    border-radius: 0 0 16px 0 !important;
  }
}

@include size-lg {
  .product-content {
    &-w {
      max-width: 844px;
    }
  }
  .product-actions {
    &-w {
      max-width: 424px;
    }
  }
  .product-details-pages {
    .exp-list {
      &-w {
        width: 250px;
      }
    }
    .exp-cardinfo {
      &-w {
        width: 430px;
      }
    }
    .h-lg-547px {
      height: 547px;
    }
    .w-lg-85 {
      width: 87.5%;
    }
    .w-lg-15 {
      width: 12.5%;
    }
    .icon-M {
      @include icon-size;
      box-sizing: border-box;
    }
  }
}

@include size-sm {
  .product-details-pages {
    .card.bg-lg-white {
      background-color: $white !important;
    }
    .card-img {
      height: 150px;
    }
    .h-188px {
      height: 188px;
    }
    .w-sm-100 {
      width: 100%;
    }
    .modal-dialog-try {
      margin: 0 auto;
    }
    .icon-S {
      @include icon-size(
        $py-sz: 8px,
        $px-sz: 8px,
        $bdrs-sz: 12px,
        $w-sz: 40px,
        $h-sz: 40px
      );
    }
  }
}
