<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>相片 | 快素 Fastock</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/logo icon.svg"
    />
  </head>

  <body>
    <%- include('./layout/header'); -%>
    <section class="container-fluid bg-primary-50 py-8 px-12">
      <h3 class="h4 mb-2">
        <span class="h4 bg-accent-400">貓</span>相關的素材資源
      </h3>
      <p class="fs-lg text-neutral-600 mb-8">
        瀏覽我們的素材庫，您將發現許多精彩的免版稅商業照片、圖片與影像。我們相信您一定能找到最適合您專案的素材！
      </p>
      <div
        class="searchteag px-12"
        id="bannerTags"
        role="group"
        aria-label="快速篩選標籤"
      >
        <button
          type="button"
          class="lil-btn keyword-btn btn-sec-outline btn-bg-transparent border-radius-999 me-4"
          data-tag="背景"
          aria-pressed="false"
        >
          <img
            src="/assets/images/icon/icon-search-black.svg"
            alt=""
            class="pe--1"
          />背景
        </button>
        <button
          type="button"
          class="lil-btn keyword-btn btn-sec-outline btn-bg-transparent border-radius-999 me-4"
          data-tag="背景"
          aria-pressed="false"
        >
          <img
            src="/assets/images/icon/icon-search-black.svg"
            alt=""
            class="pe--1"
          />壁紙</button
        ><button
          type="button"
          class="lil-btn keyword-btn btn-sec-outline btn-bg-transparent border-radius-999 me-4"
          data-tag="背景"
          aria-pressed="false"
        >
          <img
            src="/assets/images/icon/icon-search-black.svg"
            alt=""
            class="pe--1"
          />風景</button
        ><button
          type="button"
          class="lil-btn keyword-btn btn-sec-outline btn-bg-transparent border-radius-999 me-4"
          data-tag="背景"
          aria-pressed="false"
        >
          <img
            src="/assets/images/icon/icon-search-black.svg"
            alt=""
            class="pe--1"
          />商業</button
        ><button
          type="button"
          class="lil-btn keyword-btn btn-sec-outline btn-bg-transparent border-radius-999 me-4"
          data-tag="背景"
          aria-pressed="false"
        >
          <img
            src="/assets/images/icon/icon-search-black.svg"
            alt=""
            class="pe--1"
          />室內設計</button
        ><button
          type="button"
          class="lil-btn keyword-btn btn-sec-outline btn-bg-transparent border-radius-999 me-4"
          data-tag="背景"
          aria-pressed="false"
        >
          <img
            src="/assets/images/icon/icon-search-black.svg"
            alt=""
            class="pe--1"
          />動物</button
        ><button
          type="button"
          class="lil-btn keyword-btn btn-sec-outline btn-bg-transparent border-radius-999 me-4"
          data-tag="背景"
          aria-pressed="false"
        >
          <img
            src="/assets/images/icon/icon-search-black.svg"
            alt=""
            class="pe--1"
          />城市
        </button>
      </div>
    </section>
    <main class="container-fluid py-8 px-12">
      <div
        class="section-header d-flex justify-content-between align-items-center"
      >
        <h4 class="h5 mb-6">以類別搜尋</h4>
        <div class="se-icon"></div>
        <div class="swiper-nav d-flex align-items-center gap-2">
          <button
            type="button"
            class="my-prev-btn icon-secondary-outline icon-S d-none d-md-flex"
            id="my-prev"
            disabled
          >
            <img src="/assets/images/icon/icon-left.svg" alt="icon-left" />
          </button>
          <button
            type="button"
            class="my-next-btn icon-secondary-outline icon-S d-none d-md-flex"
            id="my-next"
          >
            <img src="/assets/images/icon/icon-right.svg" alt="icon-right" />
          </button>
        </div>
      </div>
      <!-- 類別卡片 -->
      <div class="oveflow-x-auto--sm">
        <div class="type-cardbox d-flex flex-nowrap gap-3 mb-6">
          <div class="card border-0" style="width: 13.75rem">
            <img
              src="/assets/images/產品列表頁/cat-1.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title fs-md">字型</h5>
              <p class="card-text text-neutral-800"><span>1,000</span>資源</p>
            </div>
          </div>
          <div class="card border-0" style="width: 13.75rem">
            <img
              src="/assets/images/產品列表頁/cat-2.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title fs-md">範本</h5>
              <p class="card-text text-neutral-800"><span>1,000</span>資源</p>
            </div>
          </div>
          <div class="card border-0" style="width: 13.75rem">
            <img
              src="/assets/images/產品列表頁/cat-3.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title fs-md">主題</h5>
              <p class="card-text text-neutral-800"><span>1,000</span>資源</p>
            </div>
          </div>
          <div class="card border-0" style="width: 13.75rem">
            <img
              src="/assets/images/產品列表頁/cat-4.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title fs-md">圖形</h5>
              <p class="card-text text-neutral-800"><span>1,000</span>資源</p>
            </div>
          </div>
          <div class="card border-0" style="width: 13.75rem">
            <img
              src="/assets/images/產品列表頁/cat-5.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title fs-md">相片</h5>
              <p class="card-text text-neutral-800"><span>1,000</span>資源</p>
            </div>
          </div>
          <div class="card border-0">
            <img
              src="/assets/images/產品列表頁/cat-6.png"
              class="card-img-top card-ex"
              alt="..."
              style="object-fit: cover; width: 13.75rem"
            />
            <div class="card-body">
              <h5 class="card-title fs-md">影片</h5>
              <p class="card-text text-neutral-600"><span>1,000</span>資源</p>
            </div>
          </div>
        </div>
      </div>

      <section>
        <div class="ph-type d-flex justify-content-between">
          <h5 class="h5">字型</h5>
          <button class="btn btn-pri-noneline text-primary-600 fw-medium">
            查看更多
          </button>
        </div>
        <p class="text-neutral-600 mb-4">150 資源</p>
        <!-- 卡片區 -->
        <div id="card-area" class="content">
          <div class="d-flex flex-wrap gap-6 pd-list-cardbox">
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 19rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <div class="d-none d-sm-block tag-m tag-yellow"></div>
                  <div class="d-sm-none tag-s tag-yellow"></div>
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-7.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="貓玻璃體"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >貓玻璃體</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>相片</p>
                    <p class="fs-lg">$<span class="fw-bold">140</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 19rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-8.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="古喵體"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >古喵體</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>相片</p>
                    <p class="fs-lg">$<span class="fw-bold">120</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 19rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-1.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="可愛貓黑體"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >可愛貓黑體</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>相片</p>
                    <p class="fs-lg">$<span class="fw-bold">130</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 19rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-9.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="喵喵體 喵～"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >喵喵體 喵～</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>相片</p>
                    <p class="fs-lg">$<span class="fw-bold">120</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="ph-type d-flex justify-content-between">
          <h5 class="h5">範本</h5>
          <button class="btn btn-pri-noneline text-primary-600 fw-medium">
            查看更多
          </button>
        </div>
        <p class="text-neutral-600 mb-4">1500 資源</p>
        <!-- 卡片區 -->
        <div id="card-area" class="content">
          <div class="d-flex flex-wrap gap-6 pd-list-cardbox">
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 19rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <div class="d-none d-sm-block tag-m tag-yellow"></div>
                  <div class="d-sm-none tag-s tag-yellow"></div>
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-10.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="彩霧星光"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >彩霧星光</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>相片</p>
                    <p class="fs-lg">$<span class="fw-bold">120</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 19rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-11.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="字體拼貼"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >字體拼貼</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>相片</p>
                    <p class="fs-lg">$<span class="fw-bold">130</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 19rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-12.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="字體拼貼"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >字體拼貼</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>相片</p>
                    <p class="fs-lg">$<span class="fw-bold">120</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 19rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <div class="d-none d-sm-block tag-m tag-yellow"></div>
                  <div class="d-sm-none tag-s tag-yellow"></div>
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-13.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="山嶺晨曦"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >山嶺晨曦</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>相片</p>
                    <p class="fs-lg">$<span class="fw-bold">120</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="ph-type d-flex justify-content-between">
          <h5 class="h5">主題</h5>
          <button class="btn btn-pri-noneline text-primary-600 fw-medium">
            查看更多
          </button>
        </div>
        <p class="text-neutral-600 mb-4">1000 資源</p>
        <!-- 卡片區 -->
        <div id="card-area" class="content">
          <div class="d-flex flex-wrap gap-6 pd-list-cardbox">
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 19rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-14.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="田園市集與貓"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >田園市集與貓</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>相片</p>
                    <p class="fs-lg">$<span class="fw-bold">120</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 19rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <div class="d-none d-sm-block tag-m tag-yellow"></div>
                  <div class="d-sm-none tag-s tag-yellow"></div>
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-15.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="馬克杯貓貼圖"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >馬克杯貓貼圖</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>相片</p>
                    <p class="fs-lg">$<span class="fw-bold">130</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 19rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-16.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="國風貓童話"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >國風貓童話</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>相片</p>
                    <p class="fs-lg">$<span class="fw-bold">140</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 19rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-17.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="少女甜點宇宙"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >少女甜點宇宙</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>相片</p>
                    <p class="fs-lg">$<span class="fw-bold">120</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="ph-type d-flex justify-content-between">
          <h5 class="h5">圖形</h5>
          <button class="btn btn-pri-noneline text-primary-600 fw-medium">
            查看更多
          </button>
        </div>
        <p class="text-neutral-600 mb-4">3500 資源</p>
        <!-- 卡片區 -->
        <div id="card-area" class="content">
          <div class="d-flex flex-wrap gap-6 pd-list-cardbox">
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 19rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <div class="d-none d-sm-block tag-m tag-yellow"></div>
                  <div class="d-sm-none tag-s tag-yellow"></div>
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-18.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="懶骨頭貓插畫"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >懶骨頭貓插畫</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>相片</p>
                    <p class="fs-lg">$<span class="fw-bold">120</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 19rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <div class="d-none d-sm-block tag-m tag-yellow"></div>
                  <div class="d-sm-none tag-s tag-yellow"></div>
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-19.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="工地小虎喵"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >工地小虎喵</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>相片</p>
                    <p class="fs-lg">$<span class="fw-bold">130</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 19rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <div class="d-none d-sm-block tag-m tag-yellow"></div>
                  <div class="d-sm-none tag-s tag-yellow"></div>
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-20.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="甜心魔法"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >甜心魔法</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>相片</p>
                    <p class="fs-lg">$<span class="fw-bold">140</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 19rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <div class="d-none d-sm-block tag-m tag-yellow"></div>
                  <div class="d-sm-none tag-s tag-yellow"></div>
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-21.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="漢堡貓"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >漢堡貓</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>相片</p>
                    <p class="fs-lg">$<span class="fw-bold">120</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="ph-type d-flex justify-content-between">
          <h5 class="h5">相片</h5>
          <button class="btn btn-pri-noneline text-primary-600 fw-medium">
            查看更多
          </button>
        </div>
        <p class="text-neutral-600 mb-4">3500 資源</p>
        <!-- 卡片區 -->
        <div id="card-area" class="content">
          <div class="d-flex flex-wrap gap-6 pd-list-cardbox">
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 19rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <div class="d-none d-sm-block tag-m tag-yellow"></div>
                  <div class="d-sm-none tag-s tag-yellow"></div>
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-22.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="貓咪家庭"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >貓咪家庭</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>相片</p>
                    <p class="fs-lg">$<span class="fw-bold">120</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 19rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-23.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="藍眼虎斑貓正面特寫"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >藍眼虎斑貓正面特寫</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>相片</p>
                    <p class="fs-lg">$<span class="fw-bold">130</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 19rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-24.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="酷貓戴墨鏡幽默圖像"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >酷貓戴墨鏡幽默圖像</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>相片</p>
                    <p class="fs-lg">$<span class="fw-bold">140</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 19rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-25.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="驚訝表情白貓特寫照"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >驚訝表情白貓特寫照</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>相片</p>
                    <p class="fs-lg">$<span class="fw-bold">120</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="ph-type d-flex justify-content-between">
          <h5 class="h5">影片</h5>
          <button class="btn btn-pri-noneline text-primary-600 fw-medium">
            查看更多
          </button>
        </div>
        <p class="text-neutral-600 mb-4">3500 資源</p>
        <!-- 卡片區 -->
        <div id="card-area" class="content">
          <div class="d-flex flex-wrap gap-6 pd-list-cardbox">
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 26rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-v1.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="夏日海邊風景"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >夏日海邊風景</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>影片</p>
                    <p class="fs-lg">$<span class="fw-bold">100</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 26rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <div class="d-none d-sm-block tag-m tag-yellow"></div>
                  <div class="d-sm-none tag-s tag-yellow"></div>
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-v2.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="貓咪彈吉他"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >貓咪彈吉他</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>影片</p>
                    <p class="fs-lg">$<span class="fw-bold">100</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div class="card border-0 position-relative" style="width: 26rem">
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-v3.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="貓咪逛非洲"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >貓咪逛非洲</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>影片</p>
                    <p class="fs-lg">$<span class="fw-bold">100</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="ph-type d-flex justify-content-between">
          <h5 class="h5">音效</h5>
          <button class="btn btn-pri-noneline text-primary-600 fw-medium">
            查看更多
          </button>
        </div>
        <p class="text-neutral-600 mb-4">3500 資源</p>
        <!-- 卡片區 -->
        <div id="card-area" class="content">
          <div class="d-flex flex-wrap gap-6 pd-list-cardbox">
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div
                class="card border-0 position-relative"
                style="width: 14.75rem"
              >
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-audio.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="貓叫聲"
                    style="height: 157px; border-radius: 18px"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >貓叫聲</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>影片</p>
                    <p class="fs-lg">$<span class="fw-bold">100</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div
                class="card border-0 position-relative"
                style="width: 14.75rem"
              >
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-audio.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="貓打呼聲"
                    style="height: 157px; border-radius: 18px"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >貓打呼聲</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>影片</p>
                    <p class="fs-lg">$<span class="fw-bold">100</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div
                class="card border-0 position-relative"
                style="width: 14.75rem"
              >
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-audio.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="貓打架聲"
                    style="height: 157px; border-radius: 18px"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >貓打架聲</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>影片</p>
                    <p class="fs-lg">$<span class="fw-bold">100</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-100 pd-list-md-col-6 mb-6">
              <div
                class="card border-0 position-relative"
                style="width: 14.75rem"
              >
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-audio.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="貓唱歌"
                    style="height: 157px; border-radius: 18px"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >貓唱歌</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>影片</p>
                    <p class="fs-lg">$<span class="fw-bold">100</span></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="h-100 pd-list-md-col-6 mb-6">
              <div
                class="card border-0 position-relative"
                style="width: 14.75rem"
              >
                <!-- 卡片圖片區 -->
                <div class="card-img-wrapper overflow-hidden rounded-4">
                  <div class="d-none d-sm-block tag-m tag-blue"></div>
                  <div class="d-sm-none tag-s tag-blue"></div>
                  <%- include('./layout/inCardBtn.ejs'); -%>
                  <img
                    src="/assets/images/產品列表頁/cat-audio.png"
                    class="card-img-top img-fluid card-img rounded-4 oveflow-hidden"
                    alt="貓腳步聲"
                    style="height: 157px; border-radius: 18px"
                  />
                </div>
                <!-- 卡片描述區 -->
                <div class="card-body">
                  <h5 class="card-title fs-md fs-md-lg fw-bold">
                    <a
                      href="./product-details.html"
                      class="stretched-link text-black"
                      >貓腳步聲</a
                    >
                  </h5>
                  <div class="card-text d-flex justify-content-between">
                    <p>影片</p>
                    <p
                      class="fs-sm text-neutral-600 text-decoration-thoughline"
                    >
                      120<span class="fs-lg fw-bold text-notice ms-1"
                        ><span style="font-weight: 400">$</span>0</span
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <div class="more-btn d-flex justify-content-center align-items-center py-6">
      <div class="btn btn-sec-outline" style="font-weight: 500">查看更多</div>
    </div>

    <%- include('./layout/scroll-top-btn.ejs'); -%> <%-
    include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
